<web-app>

<servlet>
<servlet-name>a1</servlet-name>
<servlet-class>Servlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>a1</servlet-name>
<url-pattern>/serv1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>a2</servlet-name>
<servlet-class>Servlet2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>a2</servlet-name>
<url-pattern>/serv2</url-pattern>
</servlet-mapping>

</web-app>
